// 1. Configuration and helpers
@import "abstracts/variables";
@import "abstracts/bootstrap";
@import "abstracts/functions";
@import "abstracts/mixins";

// 2. Vendors
@import "vendor/bootstrap";

// 3. Base stuff
@import "base/base";
@import "base/fonts";
@import "base/typography";
@import "base/helpers";

// 4. Layout-related sections
@import "layout/header";
@import "layout/footer";

// 5. Components
@import "components/button";

// 6. Page-specific styles
@import "pages/login";
@import "pages/home";

// 7. Themes
@import "themes/default";
