// # Content styles
// ====================

.content {
  flex: 1;
  margin: 0 $content-margin 0 0;
  overflow: auto;
  border-top-left-radius: $content-margin * .6;
  border-top-right-radius: $content-margin * .6;
  background-color: $content-background;
  color: $main-darker;

  > .inner {
    margin: 1rem;
    overflow: hidden;

    > .heading {
      margin: 0 0 .5rem;
      padding: 0 .25rem .25rem;
      overflow: hidden;
      border-bottom: .0625rem solid darken($content-background, 5%);
      font-size: 1.375rem;
      font-weight: normal;
      line-height: 1.2;


      > h1 {
        margin: 0;
        font: inherit;
      }
    }
  }
}
