// -----------------------------------------------------------------------------
// This file contains styles that are specific to the login page.
// -----------------------------------------------------------------------------

.login {
  width: 95%;
  max-width: 20rem;
  margin: 0 auto;

  h1 {
    margin: 4.5rem 0 3.5rem;
    text-align: center;
    letter-spacing: .25rem;

    a {
      font: 300 3rem sans-serif;
      color: $gray-400;
      @include transition(text-shadow .25s);

      @include hover-focus {
        text-shadow: 0 0 2rem $gray-100;
        color: $gray-100;
        outline: 0;
      }
    }
  }

  form {
    padding: 1.875rem 1.25rem;
    color: $gray-800;
    border: 1px solid $gray-400;
    background: $gray-100;
  }
}
